<h1><%= @user.name %>さん</h1><h5><a href="/users/edits/">プロフィールを編集</a></h5>

<h5><%= image_tag @user.pic.url %></h5>

<h5>アカウントID:<%= @user.loginid %></h5>
<h5>登録メールアドレス:<%= @user.email %></h5>
<h5>自己紹介文:<%= @user.self %></h5>

<div><%= link_to "ログアウト".html_safe, destroy_user_session_path, method: :delete %></div>